{% extends 'shop/basic.html' %}

{% block title %}SHOP HOME{% endblock %}

{% block css %}

.carousel{
width: 99%;
margin-top:1%;
margin-left:0.5%;
}

.carousel .carousel-indicators button
{  background-color: black; }

.carousel-inner{
margin: 0 8% 0 8%;
width:85%;
align-items:center;
}

.card{
display:inline-block;
margin: 0 -2px 0 -2px;

}
.col-md-3{
display:inline-block;
height:100%;
}
.card-img-top{
width:100%;
aspect-ratio:9/10;
}
.carousel-control-prev,
.carousel-control-next {
background-image: none;
width:6%;
}
.carousel-control-prev{
margin-left:0px;
}

.carousel-control-next-icon:after
{

  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
.card-text{
height:48px;
}
.card-title{
height:36px;
}
.btn btn-primary{
height:60px;
padding:0 0 0 0;
text-align:center;
}
.buton{
font-size:11px;
margin:0 0 0 0;
}
{% endblock %}

{% block body %}
{% load static %}
<!--Slideshow starts here-->
{% for nslides, products in allProds %}
<h1>{{products.0.category}}</h1>
<div id="mycarousel{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
<!-- This is a container for our carousel
Id is provided for styling purpose,
class=carousel specifies that the slide contains a carousel,
class=slide ensures the sliding effect.
data-bs-ride=carousel ensures the start of animation as soon as page loads.-->

    <div class="carousel-indicators">
        <!-- This is a conainer to store the buttons at the bottom, which indicates the current slide
        data-target attribute points to the id of the carousel
        data-slide-to attribute specifies, which slide to go-->
        <button data-bs-target="#mycarousel{{forloop.counter}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="slide 0"></button>
        {% for i in nslides %}<!--Successfully looped the indicators-->
        <button data-bs-target="#mycarousel{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}" aria-label="slide"+{{i}}></button>
        {% endfor %}

    </div>
    <div class="carousel-inner">
        <!-- carousel-inner is a wrapper div for our slides,
        Each carousel-item is a different slide-->
        <div class="carousel-item active">
            {% for prod in products %}
            <div class="card col-3">
                <img src="/media/{{prod.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">{{prod.product_name}}</h6>
                    <p class="card-text">{{prod.desc}}</p>
                    <button id="pr{{prod.id}}" class="btn btn-primary cart"><span class="buton">Add to cart</span></button>
                    <a href="products/{{prod.id}}"><button id="qv{{prod.id}}" class="btn btn-primary cart"><span class="buton">Quick View</span></button></a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4"  and not forloop.last %}
            </div><div class="carousel-item">
            {% endif %}
            {% endfor %}
            </div>
    </div>
    <div class="button-container">
        <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel{{forloop.counter}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mycarousel{{forloop.counter}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
{% endfor %}
{% endblock %}

{% block js %}
<script>


    console.log('Sab badhiya hai')
    if(localStorage.getItem('cart')==undefined){
    var cart={};
    }
    else{
    cart=JSON.parse(localStorage.getItem('cart'));
    document.getElementById('navcart').innerHTML=Object.keys(cart).length;
    }
    $('.cart').click(function(){
    console.log('clicked');
    var idstr=this.id.toString();
    console.log(idstr);
    if(cart[idstr]==undefined){
    cart[idstr]=1;
    }
    else{
    cart[idstr]+=1;
    }
    console.log(cart);
    localStorage.setItem('cart',JSON.stringify(cart));
    document.getElementById('navcart').innerHTML=Object.keys(cart).length;
    });
    $(document).ready(function(){
    $('[data-bs-toggle="popover"]').popover();
    });
    document.getElementById('popacart').setAttribute("data-bs-content","<h1>cart</h1>");



</script>
{% endblock %}